body {
    background: #fff;
    color: #8d86c9;
}

button {
    width: 40%;
    padding: 10px;
    margin: 5px;
    border: none;
    border-radius: 8px; 
    outline: none;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 4px; 
    background: #8d86c9;
    cursor: pointer; 
    display: block;
}

a {
    text-decoration: none;
    color: #fff;
}

button:hover, a:hover {
    background: #000;
    color: #8d86c9;
}

.main-two {
    color: #8d86c9;
    max-width: 400px;
    margin: 30px auto;
    display: flex;
    padding: 10px;
    flex-direction: column;
}

h1:hover, p:hover{
    color: #000;
}

